@import './utils/Style.scss';

.ToggleSliderMenu {
  display: flex;
  flex-direction: column;
  left: 0;
  width: 250px;
  height: 100%;
  background: white;
  position: fixed;
  overflow: auto;
  @include setHeader(24px, $headerTitleColor);
  .Contact {
    margin-top: auto;
  }
}
