@import './utils/Style.scss';

.ToggleMenu {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  top: 52px;
  left: 1770px;
  position: absolute;
  z-index: 10;
  background-color: white;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  .MenuItem {
    display: flex;
    padding: 0 10px;
    width: 112px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      background-color: #eeeeee;
    }
    &:active {
      background-color: silver;
    }
    .txt-center {
      flex-grow: 1;
      display: flex;
    }
  }
}
