@import './utils/Style.scss';

.TopFixedContent {
  top: 0;
  z-index: 12;
  width: 100%;
  position: sticky;
  background-color: white;
  border-bottom: $border;
  .Info {
    display: flex;
    padding: 8px;
    .HeaderTitle {
      @include setHeader(24px, $headerTitleColor);
    }
  }
}
