@import './utils/Style.scss';

.TopFixedContent {
  top: 0;
  z-index: 12;
  width: 100%;
  position: sticky;
  background-color: white;
  border-bottom: $border;
  .info {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    .header-title {
      @include setHeader(24px, $headerTitleColor);
    }
    .click-menu {
      padding-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: #eeeeee;
      }
      &:active {
        background-color: silver;
      }
      .txt {
        margin-left: 16px;
        margin-right: 8px;
      }
    }
  }
}
